body {
    font-family: arial;
    align-items: center;
    margin: 0;
}
/* Unidad de medida: fracciones fr distrubuye el espacio disponible en formas iguales.
Funciones:
repeat(cantidad, valor) para usar el mismo valor varias veces
minmax(min, max) agregar un valor minimo y maximo para el tamaño al hacer responsive */

.container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-template-rows: 300px 50px 50px;
    /* grid-template: 1fr 1fr / 1fr; */
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    /* height: 100vh; */
    /* grid-template-areas: "header header"
                         "left contenido"
                         "footer footer"; */
    /* justify-content: center; */
    align-items: center;
    border: 1px solid yellow;
    
    

}



.header {
    /* grid-area: header; */
    border: 1px solid red;
}

.title {
    border: 1px solid red;
    grid-column: 3 / span 4; 
    padding: 10px;
    align-self: flex-start; 
}

.biz {
    border: 1px solid red;
    grid-column: 2 / span 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px; 
}

.call-to-action {
    border: 1px solid red;
    grid-column: 4 / span 2;
}


.footer {
    /* grid-area: footer; */
    border: 1px solid red;
    /* grid-column: 1 / span 4; */
    
}
