body {
    font-family: arial;
}
/* Unidad de medida: fracciones fr distrubuye el espacio disponible en formas iguales.
Funciones:
repeat(cantidad, valor) para usar el mismo valor varias veces
minmax(min, max) agregar un valor minimo y maximo para el tamaño al hacer responsive */

.container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 1fr; */
    /* grid-template: 1fr 1fr / 1fr; */
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    height: 100vh;
    /* grid-template-areas: "header header"
                         "left contenido"
                         "footer footer"; */

}

.item {
    border: 1px solid red;
    padding: 10px;
}

.item:nth-of-type(2) {
    background: blue;
}

.header {
    /* grid-area: header; */
    grid-column: 1 / span 4;
}

.contenido{
    /* grid-area: contenido; */

}

.footer {
    /* grid-area: footer; */
    grid-column: 1 / span 4;
    
}

.left {
    /* grid-area: left; */
}