body {
    font-family: arial;
}
/* Unidad de medida: fracciones fr distrubuye el espacio disponible en formas iguales.
Funciones:
repeat(cantidad, valor) para usar el mismo valor varias veces
minmax(min, max) agregar un valor minimo y maximo para el tamaño al hacer responsive */

.container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: 100px 50px 50px;
    /* grid-template: 1fr 1fr / 1fr; */
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* height: 100vh; */
    /* grid-template-areas: "header header"
                         "left contenido"
                         "footer footer"; */
    /* justify-content: center; */
    align-items: center;
    border: 1px solid yellow;

}

.item {
    border: 1px solid red;
    padding: 10px;
}

.item:nth-of-type(2) {
    background: blue;
}

.header {
    /* grid-area: header; */
    border: 1px solid red;
}


.footer {
    /* grid-area: footer; */
    border: 1px solid red;
    /* grid-column: 1 / span 4; */
    
}
